.add-to-cart-session {
  display: flex;
  align-items: center;
}

.add-to-cart {
  height: 64px;
  width: 215px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #000;
  font-size: 20px;
  margin-left: 10px;
}

.quantity-buttons {
  height: 64px;
  width: 123px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #9f9f9f;
  border-radius: 10px;
}

.quantity-buttons button {
  cursor: pointer;
  padding: 10px;
  height: 100%;
  width: 20%;
  border: none;
  background-color: transparent;
}

.quantity-buttons span {
  margin: 0 25px;
}
