:root {
  --four--cards: 301px 301px 301px 301px;
  --three--cards: 301px 301px 301px;
  --two--cards: 301px 301px;
  --one--card: 301px;
  --bg-color: #f4f5f7;
}

.products-list {
  margin-top: 2rem;
  justify-content: center;
  display: grid;
  grid-template-columns: var(--four--cards);
  gap: 4rem;
  margin-bottom: 4rem;
}

.products-list img {
  height: 285px;
  width: 301px;
}

.products-list h3 {
  text-wrap: nowrap;
  font-size: 24px;
  font-weight: 600;
}

.product {
  position: relative;
  margin: 10px 0;
  background-color: #f4f5f7;
  display: flex;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  height: 416px;
}

.details {
  padding: 5px 10px;
}

.details > p{
  color: #898989;
  font-size: 16px;
  font-weight: 500;
}

.details span {
  font-size: 24px;
  font-weight: 600;
}

.details > * {
  margin-top: 5px;
}

.price {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  color: #fff;
  line-height: 2rem;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.product-overlay span {
  margin: 0 10px;
  line-height: 3rem;
}

.product-overlay button {
  width: 201px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  height: 3rem;
  color: #b88e2f;
}

.details {
  max-height: 150px;
}

.product:hover .product-overlay {
  opacity: 1;
  visibility: visible;
}

.product h3 {
  text-transform: capitalize;
}

@media (max-width: 1400px) {
  .products-list {
    grid-template-columns: var(--three--cards);
  }
}

@media (max-width: 1000px) {
  .products-list {
    grid-template-columns: var(--two--cards);
  }
}

@media (max-width: 650px) {
  .products-list {
    grid-template-columns: var(--one--card);
  }
}
